// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2025 Bootlin
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-bonegreen-common.dtsi"

/ {
	model = "TI AM335x BeagleBone Green Eco";
	compatible = "ti,am335x-bone-green-eco", "ti,am335x-bone-green", "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

	cpus {
		cpu@0 {
			cpu0-supply = <&buck1>;
		};
	};
};


&usb0 {
	interrupts-extended = <&intc 18>;
	interrupt-names = "mc";
};

&baseboard_eeprom {
	/delete-property/ vcc-supply;
};

&i2c0 {
	/delete-node/ tps@24;

	tps65214: tps@30 {
		compatible = "ti,tps65214";
		reg = <0x30>;
		interrupts = <7>; /* NMI */
		interrupt-parent = <&intc>;
		ti,power-button;

		regulators {
			buck1: buck1 {
				regulator-name = "vdd_mpu";
				regulator-min-microvolt = <925000>;
				regulator-max-microvolt = <1351500>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck2: buck2 {
				regulator-name = "vdd_core";
				regulator-min-microvolt = <925000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck3: buck3 {
				regulator-name = "vdds_ddr";
				regulator-always-on;
			};

			ldo1_reg: ldo1 {
				regulator-name = "vdd_1v8_1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: ldo2 {
				regulator-name = "vdd_1v8_2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};
